.main {
    border-radius: 100px;
    background: rgba(15, 21, 70, 0.70);
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    height: 122px;
    /* border-radius: 50px; */
    /* border: 1px solid white; */
    padding: 15px 30px;
    position: absolute;
    margin: auto;
    left: 0%;
    right: 0%;
    top: 65px;
}

.mainService {
    border-radius: 100px;
    background: rgba(15, 21, 70, 0.35);
    backdrop-filter: blur(12.5px);
    margin-left: auto;
    margin-right: auto;
    height: 122px;
    /* border-radius: 50px; */
    border: .5px solid #292D58;
    border-bottom: 0px;
    padding: 15px 30px;
    position: absolute;
    margin: auto;
    left: 0%;
    right: 0%;
    top: 65px;
}

.main-mobile {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    display: none;
    position: absolute;
    margin: auto;
    left: 0%;
    right: 0%;
    top: 54px;
}

.login {
    width: 123px;
    height: 56px;
    flex-shrink: 0;
    font-size: 18px;
    border-radius: 100px;
    background: #1BFCB6;
}

.language {
    text-transform: capitalize;
    width: 147px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;
    font-size: 18px;
}

.language span {
    color: #FFF;
    font-family: Syne;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inner-nav-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.inner-nav-login {
    width: 158px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1BFCB6;
    color: #0F1546;
}

.inner-nav-signup {
    width: 158px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #0F1546;
    color: #1BFCB6;
}

.inner-nav-language {
    width: 158px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;
}

.inner-nav-language span {
    text-transform: capitalize;
}

.inner-nav-footer {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
}

/* tablet */
@media only screen and (max-width: 1024px) {
    .main {
        height: 74px;
        background: rgba(15, 21, 70, 0.70);
        backdrop-filter: blur(5px);
    }

    .mainService{
        height: 74px;
    }

    .login {
        width: 91px;
        height: 42px;
        font-size: 13px;
    }

    .language {
        width: 115px;
        height: 42px;
    }

    .language span {
        font-size: 13px;
    }

    .logomd {
        width: 190px;
        height: 41px;
    }
}

@media only screen and (max-width: 600px) {

    .main,
    .mainService {
        display: none;
    }

    .main-mobile {
        display: block;
    }
}