.img-center-container {
    text-align: center;
    background-color: inherit;
}

.preloadingSection {
    background: #0F1546;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_section {
    background: #0F1546;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #e50914;
    border-color: #e50914 transparent #e50914 transparent;
    animation: loading 1.2s infinite;
}

.emailBtn {
    background: #75F7BB !important;
    border-radius: 100px !important;
    padding: 10px 20px !important;
}

/* BACKGROUND RELATED */

.BGM {
    /* background: url('/dc.png'), lightgray 50% / cover no-repeat; */
    background-size: cover;
}

.BGI {
    /* background: url('/invoiceBG.png'), 50% / cover no-repeat; */
    background-size: cover;
  }

.background {
    background-image: url('/elli7.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* min-width: 1300px */
}

/* Replace the below styles with your own customizations */
.cardScrollbarContainer {
    display: flex;
    align-items: flex-start;
    padding: 32px 0px;
    gap: 30px;
    /* min-width: 1000px; */
    /* overflow: visible; */
}

.cardScrollbar {
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    padding: 32px 0px;
    gap: 30px;
}

.cardScrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

.cardScrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
    visibility: hidden;
}

.cardScrollbar:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    transition: .3s !important;
}

/* Add any other scrollbar customization here if needed */


@keyframes loading {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

@media only screen and (max-width: 1200px) {
    .img-center-container {
        text-align: center;
    }
}





.slider-container {
    overflow: hidden;
    width: 100%;
    cursor: grab;
    user-select: none;
}

.slider {
    display: flex;
    width: fit-content;
    gap: 30px;
}
.sliderPlan{
    display: inline-flex;
    width: fit-content;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
