a {
  color: inherit;
  text-decoration: none;
  line-height: 0px !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(15, 21, 69, .4);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #0F1546;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}





#switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

#switch>span {
  color: #161D4B;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 800;
  line-height: 59px;
}

#switch label {
  pointer-events: none;
}

#switch label .input {
  display: none;
}

#switch label .input:checked+.toggle-wrapper>.selector {
  left: calc(100% - 50px);
  background-color: #FFF;
}

#switch label .input:checked~.notification>.selected:before {
  content: 'Yes';
}

#switch label .toggle-wrapper {
  position: relative;
  width: 113px;
  height: 49px;
  background-color: #75F7BB;
  margin: auto;
  cursor: pointer;
  pointer-events: all;
  border-radius: 100px;
}

#switch label .toggle-wrapper .selector {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  /* background-color: #ee5f39; */
  transition: left 0.25s ease;
  border-radius: 50%;
  fill: #FFF;
  background-color: #FFF;
box-shadow: 0px 3px 12px 0px rgba(27, 252, 182, 0.43) inset;
}

#switch label .notification {
  font-size: 20px !important;
  width: 100%;
}

#switch label .notification .selected:before {
  content: 'No';
  font-size: 20px !important;
  border-bottom: 2px solid;
}