.main {
  background-color: #1BFCB6;
  background-image: url('/marketingBG.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.titleIntegration {
  font-style: normal;
  font-weight: 900;
  line-height: 59px;
  font-size: 40px !important;
}

.subtitlemain {
  text-align: center;
  font-size: 40px !important;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
}

/* Cars Section */


.titleContainer {
  width: 80%;
  max-width: 898px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.adsManageMain {
  padding: 85px 80px;
  background: #EDFFF9;
}

.lunchCampMain {
  padding: 85px 80px;
  background: #151B4A;
}

.grnerateLeadsMain {
  padding: 85px 80px;
  background-color: #151B4A;
  background-image: url('/donut.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

.oneAppMain,
.howWorkMain {
  padding: 85px 80px;
}

.normal {
  font-size: 25px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.normal2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}






/* Desktop */
@media only screen and (max-width:1500px) {
  .planListText {
    font-size: 15px;
  }

  .planMain {
    min-height: 575px;
    padding: 85px 40px;
  }

  .planCard {
    padding: 30px;
  }
}

@media only screen and (max-width:1350px) {

  .subtitlemain,
  .titleIntegration {
    font-size: 30px !important;
    line-height: 40px;
  }

}

@media only screen and (max-width:1124px) {

  .subtitlemain,
  .titleIntegration {
    font-size: 27px;
    line-height: 35px;
  }

  .normal2 {
    font-size: 16px;
  }
}






/* Tablet */
@media only screen and (max-width: 1024px) {

  .subtitlemain,
  .titleIntegration {
    font-size: 25px !important;
    line-height: 32px;
  }

  .oneAppMain,
  .lunchCampMain,
  .adsManageMain,
  .grnerateLeadsMain,
  .bookingMain {
    min-height: 575px;
    padding: 85px 40px;
  }

  .howWorkMain {
    padding: 85px 40px;
  }

  .normal2 {
    font-size: 15px;
  }
}


@media only screen and (max-width: 900px) {

  .titleContainer {
    width: 90%;
  }

  .normal {
    font-size: 20px;
  }

  .normal2 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .cardTitle {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 700px) {

  .grnerateLeadsMain,
  .main {
    background-size: 80%;
  }
}









/* Mobile */
@media only screen and (max-width: 600px) {

  .normal {
    font-size: 18px;
  }

  .cardTitle {
    font-size: 20px;
  }

  .normal {
    font-size: 17px;
  }

  .normal2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .titleIntegration {
    font-size: 23px;
    line-height: 32px;
  }

  .oneAppMain,
  .howWorkMain,
  .lunchCampMain,
  .adsManageMain,
  .grnerateLeadsMain,
  .bookingMain {
    min-height: auto;
    height: 100%;
    padding: 75px 20px;
  }
}